agents/venv
agents/sketches
agents/.env
agents/ngrok.tgz
agents/__pycache__
agents/scripts
agents/app/__pycache__
agents/app/Beginner/__pycache__
agents/app/Expert/__pycache__
env/

backend/node_modules
backend/.env
backend/dist
